<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title><?= $this->fetch('title') ?></title>
    </head>
    <body>
        <?= $this->fetch('content') ?>


    <font face="Arial" style="font-size:11px; color:#333;" >
        &copy; <?= date('Y') ?> 
        <a href="<?php echo $this->Url->build('/', true) ?>">
            <?php echo $config['site_name_' . $lang] ?> 
        </a>
    </font>
</body>
</html>
