.group {
    left: auto !important;
    right: 0;
}


.latest_newsarea span:after {
    border-width: 15px !important;
    margin-top: -16px !important;
    border-left-color: #dfdfdf !important;
}
.top-two .latest_newsarea span {
    padding: 5px 44px !important;
}
.section h6{right: 15px !important;left: auto !important}
h2 span{float: left !important;border-right: 35px solid;border-left: 0 !important}
.percentage{right: 0 !important;left: auto !important}
.faq span {
    margin-left: 0;
    margin-right: 8px;
    -webkit-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -mox-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    transform: scale(-1,1);
}
footer ul.pull-right{float: left !important}
.video-modal-footer{text-align: left !important;}
.pager .next>a,.pager .next>span{float:none}

