

/*news ticker*/
.news_sticker li a{
	display: inline-block;
	color: #eee;
	margin-right: 40px;
}

.latest_newsarea span {  
  display: block;
  float: left;
  font-size: 16px;
  padding: 5px 25px;
  position: absolute;
  z-index: 20;
}
.news_sticker {
  float: right;
  width: 85%;
  padding: 5px 15px 5px 5px;
  
}
.news_sticker li a:before {
  content: "";
  margin-right: 5px;
}
.news_sticker li a:before {  
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}


/*======================///////////////
			start responsive style
=====================///////////////////////*/


@media(max-width:1199px ){	
	.logo_area {width: 32%;}
	.top_addarea {width: 66%;}
	.catg_nav li {width: 47.94%;}
	.catg_nav3 li {width: 100%;}	
  .relatedpost_nav li {margin-right: 9px;}
  .custom-tabs > li > a {font-size: 11px;padding: 8px 2px;}

}
@media(max-width:991px ){
	.slider_tittle {bottom: 10px;color: #fff;font-size: 18px;line-height: 1.5em;margin: 0 15px;}
	.logo_area {width: 100%;}	
	.top_addarea {display: none;}
	.middle_bar {width: 100%;}
	.catg_nav li {width: 47.64%;}
	.catg_nav3 li {width: 100%;}
	.catg5_nav li {width: 49%;padding-right: 6px;}
	.catg3_snav .media-left > img {height: auto;}
	.ppost_nav li {width: 50%;float: left;}
	.catg_nav2 .catgimg_container {height: 250px;}
  .relatedpost_nav li {margin-right: 7px;}
  .custom-tabs> li > a {font-size: 13px;padding: 8px 5px;}
  
}

@media(max-width:767px ){
  .navbar-collapse {padding-left: 15px;}
  .container-fluid {padding-left: 15px;}
  #searchIcon {height: 50px;float: right;}
  #search-hide input {height: 108px;width: 89%;}
  .header_search { width: 100%;}
  .navbar {width: 100%;}
  .navbar-toggle {float: none;margin: 8px auto;padding: 13px;}
  .navbar-header{text-align: center;}
  button.remove {padding-top: 40px;padding-right: 6px;}
  .left_bar {width: 100%;}
  

}

@media(max-width:480px ){
	.logo_area {text-align: center;}
	.logo img{width: 100%;}
	.catg_nav li {width: 100%;}
	.category_three {width: 100%;}
	.category_four {width: 100%;}
	.catg5_nav li { padding-right: 0px;width: 100%;}
	.ppost_nav li {width: 100%;}
	.footer_bottom_left {text-align: center;width: 100%;}
	.footer_bottom_right {text-align: center;width: 100%;}
  .read_more {z-index: 99;}
  .singlearcive_article p {display: none;}
  .relatedpost_nav li {margin-right: 0;width: 100%;}
  .recentpost_nav li a > img {height: 150px;}
  .carousel-caption {bottom: 5px;padding-bottom: 0; padding-top: 10px;z-index: 999;}
  .latest_newsarea span {font-size: 14px;padding: 5px 15px;}
}
@media(max-width:320px ){
	.carousel-indicators {display: none;}
	.carousel-caption>h1{font-size: 10px;}
  .read_more {font-size: 10px; padding: 5px 6px;right: 5px; top: 5px;}
  .singlearcive_article {bottom: 0;}
  .singlearcive_article h2{line-height: 15px;}
  .singlearcive_article p {display: none;}
  .post_title {border-left: 5px solid #09c;font-size: 1.5em;}
  .single_post_area .author_name, .post_date {width: 100%;float: left;margin-bottom: 10px;}
  .social_area ul li > a {font-size: 20px;margin: 0 2px;}
  .carousel-caption {bottom: 5px;padding-bottom: 0; padding-top: 10px;}
  .carousel-caption > h1 a {font-size: 14px;}
  .custom-tabs > li > a {font-size: 11px;}
  .singlearcive_article > h2 a {font-size: 11px;}
  .author_name {margin-bottom: 2px;float: left;}
	
}
 /*<!-- =========================
        //////////////This Theme Design and Developed //////////////////////
        //////////// by www.wpfreeware.com======================-->*/