@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css?family=Cairo');
*{
    /*text-transform: capitalize;*/
    font-family: 'Droid Arabic Kufi', serif;
}
a{
    color:#91bf3c;
}
.wrapper{overflow: hidden;height: 5000px}
.img{width: 100%}
.row{margin-top: 10px}
body{background: url(img/white2.jpg)}
.printed,
.my-padding2,

.read,.my-nav .navbar-inverse .navbar-nav > li > a,
.lang a,.lang .active,.social img,.block,.vote input[type="button"],
#my-video .carousel-control,footer a,.images img,#myCarousel .carousel-indicators li,.title span a,.one-video,.read-more a,.more-news a,.one-new .my-padding button[type="submit"],
.box img,
.block h5,.btn-custom,.my-right{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s}
.the-wrapper{overflow-x: hidden}
/* start the-logo div */
header{margin-top: 7px}
.search input{
    background-color: #dfdfdf;
    padding: 5px 7px;
    border: 1px solid #8d8d8d;
    width: 100%
}
.social{
    width: 100%;
    overflow: hidden;
    margin-top: 22px;margin-bottom: 22px
}
.social ul li{list-style: none;float: left; 
              /*margin-right: 8px;margin-left: 4px;*/
              margin-right: 2px;margin-left: 1px;
}
.social img{width: 39px;}
.social img:hover{opacity: .7}
.social ul{  overflow: hidden;
             padding: 0;}
.lang a{color: #5c5c5c;font-weight: bold;    margin-left: 10px;
        margin-right: 10px;}
.lang a:hover{text-decoration: none;opacity: .7}
.lang .active{color: #9ac940}
.lang {
    background-color: #dfdfdf;color: #5c5c5c;
    text-align: center;
    padding: 7px;font-weight: bold;
    width: 61%;
    margin: auto;}
.banner-1{
    right: 5px;
}
.banner-2{
    left: 5px;
}
.banner1,.banner2{width: 100%;}
.banner1 img,.banner2 img{width: 100%}
.banner2 img{height: 418px}
.the-logo{text-align: center; margin-top: 7px;}
.the-logo img{width: 400px}
.the-logo p{color: #7f7f7f;font-weight: bold;font-family: 'Cairo', sans-serif;font-size: 16px;}
.sms{width: 100%;background: url(img/sms.png) no-repeat center center;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;    width: 165px;position: relative;
     height: 165px;}
.sms p{margin-bottom: 5px}
#sms-slide {
    position: absolute;
    top: 33px;
    width: 112px;
    margin: auto;
    right: 26px;
    text-align: center;
    color: #9ac940;
    font-weight: bold;}
#sms-slide img{width: 36px;margin-right: 5px}
#sms-slide .carousel-inner{height: 73px}
/* end the-logo div */
/* start nav */
.my-nav{width: 100%;margin-top: 10px;
        margin-bottom: 0;}
.my-nav .navbar{border-radius: 0}
.my-nav .navbar-inverse {
    margin-bottom: 0;
    background-color: #dfdfdf;
    border-color: #d8d8d8;

}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #6a6a6a !important;
    background-color: #91bf3c !important;
    border-radius: 24px;
    padding: 8px 15px;
    cursor: default
}
.my-nav .navbar-nav>li {
    padding-top: 8px;
    padding-bottom: 8px;
}
.my-nav .navbar-inverse .navbar-nav > li > a{padding: 8px 15px;color: #6a6a6a;font-weight: bold;text-shadow: -1px -1px 0 #91bf3c, 1px -1px 0 #91bf3c, -1px 1px 0 #91bf3c, 1px 1px 0 #91bf3c;font-size: 16px;
}
.my-nav .navbar-inverse .navbar-nav > li > a:hover{text-shadow: -1px -1px 0 #4d4d4d, 1px -1px 0 #91bf3c, -1px 1px 0 #91bf3c, 1px 1px 0 #91bf3c}
/* end nav */
/* start slider */
#myCarousel img{width: 100%;height: 100%}
#myCarousel .carousel-inner{width: 50%;margin: auto; border: 4px solid #9ac940;height: 300px;}
.main-carousel-inner > .item{
    height:300px;
}
#myCarousel .carousel-indicators .active{background-color: #bfbcbc;border: 4px solid #9ac940}

#myCarousel .carousel-indicators li {
    position: absolute;border-radius: 2px
}
#myCarousel li.item1 {
    right: -36%;
    top: -200px;
}

#myCarousel li.item2 {
    right: -36%;
    top: -95px;
}

#myCarousel li.item3 {
    bottom: -125px;
    right: 0%;
}

#myCarousel li.item4 {
    bottom: -125px;
    left: 0%;
}

#myCarousel li.item5 {
    left: -36%;
    top: -95px;
}
#myCarousel li.item6 {
    left: -36%;
    top: -200px;
}
#myCarousel .carousel-indicators li,#myCarousel .carousel-indicators .active{width: 42%; height: 89px;overflow: hidden;background-color: #dfdfdf;padding: 8px}
#myCarousel .h5 a{
    font-size: 12px;
    color: #565656;
    padding-left: 2px; 
    padding-right: 2px; 
    font-weight: bold;
    line-height: 1.4;
    /* margin-top: 5px; */
    /* margin-bottom: 1px; */	
}
#myCarousel li p{font-size: 11px;margin-right: 2px;font-family: 'Cairo', sans-serif;}
.carousel-indicators li{text-indent: 0}
.carousel-indicators li div{padding: 0}
.shadow{position: absolute;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;}
#myCarousel h3 a{font-size: 19px;
                 color: #fff;
                 line-height: 28px;
                 font-weight: bold;
                 margin-bottom: 20px;}
#myCarousel h3 a:hover{text-decoration: inherit;}
#myCarousel p{
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}
.carousel-caption a{color: #91bf3c;
                    margin-right: 5px;
                    font-size: 13px;
                    font-weight: bold;}
.carousel-caption {
    padding: 10px !important;
    background-color: rgba(0, 0, 0, 0.45);
    left: 7%;
    right: 7%;    padding-bottom: 60px;}
#myCarousel .carousel-indicators li{border: 0}
#myCarousel .carousel-indicators li:hover{background-color: #cdcdcd;}
#myCarousel .carousel-indicators li.active:hover{box-shadow:none !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;background-color: #dfdfdf !important;cursor: default}
#myCarousel .carousel-indicators li.active{background-color: #dfdfdf}
.slider-div{margin-bottom: 110px}

.head-data {
    margin-top: 22px;
}
.head-data p{
    padding-top: 15px;
    text-align: center;
    color: #7f7f7f;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}

.head-visitor p {
    text-align: center;
    color: #7f7f7f;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}

/* start content */
.my-img{width: 100%}
.my-img img{width: 100%}
h2 {
    border-bottom: 2px solid #91bf3c;
    color: rgb(247, 247, 248);
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 0 6px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
h2 span {
    background: #91bf3c;
    border-bottom: 35px solid #91bf3c;
    /* edit from right to left */
    border-left: 35px solid;
    display: inline-block;
    height: 0;
    padding: 0 10px;
    float: right;
    /* added by me */
    line-height: 35px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* added by me */
h2{box-sizing: content-box !important;}
.title span a{color: #fff}
.title span a:hover{-webkit-text-shadow: 2px 2px #858484;-moz-text-shadow: 2px 2px #858484;text-shadow: 2px 2px #858484;opacity: .7;text-decoration: none !important}
.my-padding{margin-top:0px}
/* end by me */
.block .box{padding: 0}
.block{overflow: hidden;color: #333333;}
.block span{margin-right: 3px}
.box{overflow: hidden}
.box img{-webkit-transform: scale(1);
         transform: scale(1);
         height: 78px}
.block:hover .box img{	-webkit-transform: scale(1.3);
                       transform: scale(1.3);}

.article .block:hover .box img,.writer:hover,.block:hover .writer,.box :hover .writer{	-webkit-transform: scale(1) !important;
                                                                                       transform: scale(1) !important;}
.block h5{font-weight: bold}
.block span{font-size: 12px;font-family: 'Cairo', sans-serif;}
.my-right{padding-right: 0;margin-bottom: 25px}
.block:hover h5{color: #91bf3c }
.block:hover .box img{opacity: .8}
/* start side col */
.read{ 
    background-color: #91bf3c;
    padding: 10px 26px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #4d4d4d;
    border-radius: 16px;
}
.read h5{display: inline;
         font-weight: bold;color: #4d4d4d;font-size: 16px;}
.read img{    width: 32px;
              margin-left: 6px;}
.my-padding2{margin-top: 23px;
             background-color: #dfdfdf;
             -webkit-box-shadow: 0 4px 8px 0 rgb(145, 191, 60), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             -moz-box-shadow: 0 4px 8px 0 rgb(145, 191, 60), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             -o-box-shadow: 0 4px 8px 0 rgb(145, 191, 60), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             box-shadow: 0 4px 8px 0 rgb(145, 191, 60), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             border: 1px solid #91bf3c;
}
.my-img2{width: 75%;margin:40px auto}

.box {
    position: relative;
}
.box::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.box:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/* most read */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color: #91bf3c; background-color: #4d4d4d;}
.nav-tabs>li{width: 50%}
.section .nav-tabs{margin-bottom: 21px}
.tab-pane .block{margin-bottom: 25px}
/* article */
.article img{    width: 73px;
                 height: 73px;border-radius: 50%;}
.article h5{ padding-top: 22px;}
.article hr{    border-top: 1px solid #dfdfdf;
                width: 88%;
                margin-top: 14px;
                margin-bottom: 14px;}
.artic{padding-right: 0}
/* vote */
.vote p{font-weight: bold}
.vote input[type="button"]{
    color: #91bf3c;
    background-color: #4d4d4d;
    border: 0;
    padding: 6px 21px;
    margin-left: 14px;
    margin-right: 14px;
    border-radius: 5px;
    font-weight: bold
}
.vote input[type="button"]:hover{
    background-color: #91bf3c;color: #4d4d4d
}
/* end side col */
.vote input[type="text"]{width: 80%;margin-bottom: 20px;
                         margin-top: 15px;height: 33px;}
/* end content */

/* end slider */

/* footer */
footer ul li{list-style: none;float: left;margin-left: 13px;
             margin-right: 13px;}
footer a{color: #fff}
footer a:hover,footer a:focus{color: #91bf3c;text-decoration: none}
/**/
.section{position: relative}
.section h6{position: absolute;left: 15px;top: 7px;display: inline}
.read-more a{color: #858484;font-weight: bold;text-decoration: none;font-size: 15px;}
.read-more a:hover{ color: #91bf3c}
.images img{width: 100%;height: 55px;cursor: pointer}
#the-images .modal-header,#the-video .modal-header{padding-bottom: 16px;}
.one-video,.one-video iframe{width: 100%;/*height: 97px;height: 100%*/;cursor: pointer}
.carousel-control.right,.carousel-control.left{background-image: none}
#my-video .carousel-inner{width: 84%;margin: auto;    padding-bottom: 14px}
#my-video .carousel-control.left {
    left: 7px;}
#my-video .carousel-control.right {
    right: 22px;}
#my-video .carousel-control {width: 0;opacity: 1}
#my-video .carousel-control:hover{opacity: .7}
#my-video span.glyphicon.glyphicon-chevron-right,#my-video span.glyphicon.glyphicon-chevron-left {
    background-color: #91bf3c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;}
.one-video{position:relative}
.open-video{position: absolute;width: 100%;height: 100%;top: 0;bottom: 0;right: 0;left: 0;opacity: 0;}
#the-video iframe{width: 100%;height: 400px}
#my-video .item{padding-left: 5px;padding-right: 5px}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{margin-top: -23px}

.mysection .nav-tabs>li {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.nav-tabs {
    border-bottom: 0;
}
.banner3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
#the-banner3{width: 300px;height: 250px;margin: auto;}

/* top news */
.the-top{width: 100%;padding: 0}
.latest_newsarea span {
    background-color: #dfdfdf;
}
.top-one .tickercontainer {
    background-color: #4d4d4d;
}
.latest_newsarea span {
    color: #91bf3c;
}
.tickercontainer .mask{top: 2px}
ul.news_sticker{top: -px}
.top-one .news_sticker li a {
    color: #dfdfdf;
}
.top-two{
    margin-bottom: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-two .news_sticker li a {
    color: #4d4d4d;
}
.top-two .tickercontainer {
    background-color: #dfdfdf;
}
.latest_newsarea span{font-size: 14px}
.top-one .latest_newsarea {
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
    overflow: hidden;
    height: 30px;
}
.top-two .latest_newsarea {
    border-bottom: 0;
    border-top: 0;
    overflow: hidden;
    height: 30px;
}
.top-two .latest_newsarea span{padding: 5px 46px;font-weight: bold;}

ul.newsticker a{font-size: 13px}

.top-one a:hover{cursor: default}
.news_sticker li a:before{content: ""}
.stockkk{display: inline; 
         text-align:center;
         position:relative;
         font-weight: bold;
}
.stockkk:before
{
    content: "";
    width: 0;
    position: absolute;
    top: -1px;
    left: -55px;
    display: block;
    border: 15px solid;
    border-color: transparent #dfdfdf transparent transparent;
}
.up{background-color: green}
.down{background-color: red}
.down,.up{display: inline;padding-left: 7px;padding-right: 7px;margin-left: 4px;margin-right: 4px;border-radius: 9px;font-weight: bold;color: #dfdfdf;font-size: 10px;}
.down:hover,.up:hover{text-decoration: none}

ul.newsticker li {
    padding-top: 2px;
    padding-bottom: 2px;}

.top-one{position: relative}
.group{
    position: absolute;top: 0;left: 0;background-color: #4d4d4d;
    line-height: 32px;
    padding-left: 46px;
    padding-right: 46px;
    color: #91bf3c;
    font-weight: bold;
    height: 30px;
}
/* charts */
#chart1,#chart2,#chart3,#chart4{width: 100%;margin: auto;max-height: 100%;direction: ltr !important}
div#highcharts-15 {
    margin: auto;}
.highcharts-container,rect.highcharts-background,svg:not(:root){width: 100% !important}
.highcharts-button,.highcharts-yaxis-title/*,text[text-anchor="end"]*/{display: none}
.highcharts-title{color: #fff !important;fill:#fff !important}

/* printed version */
.printed:hover .read,.printed:hover .my-padding2,.printed:hover,.printed:focus{text-decoration: none;opacity: .8}
.images img:hover,.carousel-indicators li:hover,.one-video:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}

/* news page */
.read2{    color: #91bf3c;
           margin-right: 3px;
           font-size: 13px;
           font-weight: bold;}
.read2:hover{color: #91bf3c;}
.the-news h5{ color: #91bf3c;margin-bottom: 3px}
.the-news p{font-size: 14px;font-family: 'Cairo', sans-serif;}
.the-news span{font-weight: bold;line-height: 36px}
.the-news .block{padding-bottom: 19px;
                 padding-top: 13px;}
.the-news .my-right{margin-bottom: 0;border-bottom: 2px solid #e6e6e6}
.the-news .my-right:last-child .block{border-bottom: 0 !important}
.the-news .my-right:last-of-type{border-bottom:0}
.more-news a,.one-new .my-padding button[type="submit"], .pager li > a, .pager li > span{    color: #91bf3c;
                                                                                             background-color: #4d4d4d;
                                                                                             border: 0;
                                                                                             padding: 6px 21px;
                                                                                             margin-left: 0;
                                                                                             margin-right: 10px;
                                                                                             border-radius: 5px;
                                                                                             font-size: 15px;
                                                                                             font-family: 'Cairo', sans-serif;}
.more-news a:hover,.more-news a:focus,.one-new .my-padding button[type="submit"]:hover,.one-new .my-padding button[type="submit"]:focus, .pager li > a:hover, .pager li > a:focus, .pager li > span:hover{background-color: #91bf3c;color: #4d4d4d;text-decoration: none}
.more-news{ padding-top: 0;}
.the-news hr{border-top: 2px solid #e6e6e6;}
.the-news {
    overflow: hidden;
    margin-bottom: 20px;
}
.the-news .box img{height: 120px !important}

/* one new */
.one-new .my-padding {
    margin-top: 7px;
}
.new-img{height: 350px;width: 100%;margin-top: 15px;margin-bottom: 20px}
.new-detail h3{color: #91bf3c;font-size: 21px;  margin-bottom: 17px;text-shadow: -1px -1px 0 #4d4d4d, 1px -1px 0 #4d4d4d, -1px 1px 0 #4d4d4d, 1px 1px 0 #4d4d4d;}
.new-detail .sub-title{color: #7f7f7f; font-size: 15px;}
.new-detail span{color: #7f7f7f; font-size: 14px;font-family: 'Cairo', sans-serif;}
.my-article{font-weight: bold;}
.one-new .new-detail p,.my-article p{line-height: 25px;font-size: 15px;font-family: 'Cairo', sans-serif;}
.my-article p{margin-top: 10px;margin-bottom: 30px}

.flex-viewport{direction: ltr !important}
.banner-bottom {
    margin-top: 20px;
    margin-bottom: 18px;
}
.flex-control-thumbs img{height: 70px}
.flexslider .slides img{height: 400px}
.images2 img,.images2 .one-video{height: 130px}
.modal-header .close {
    margin-top: -7px;
}
.width{width: 100%}
.flex-control-thumbs li{width: 13.2%}
/* about */
.about p{    line-height: 27px; 
             font-size: 18px;font-family: 'Cairo', sans-serif;}
/* contact */
.one-new .my-padding label{font-size: 15px}
.contact h4{color: #91bf3c; font-weight: bold;font-size: 17px;    margin-bottom: 15px;}
.contact{padding-top: 60px;overflow: hidden}
.one-new form{padding-top: 20px;overflow: hidden}
.contact p{font-size: 18px;font-family: 'Cairo', sans-serif;}
/* advertising */
.adv{font-weight: bold;font-size: 18px;}
.adv-contact li{    font-size: 18px;
                    line-height: 35px;}
.adv-contact li p{
    font-family: 'Cairo', sans-serif;
}
.adv-contact{margin-top: 20px}
.adv-contact span{color: #91bf3c;font-weight: bold;font-size: 18px;}

/* photos page */
/*.gallery-item img{height: 110px}*/
.the-text{padding-top: 10px;padding-bottom: 20px;font-weight: bold;}
/* articles */
.articles .box img{    
    width: 120px;
    height: 120px;border-radius: 50%}
.articles .box{text-align: center}
.the-articles .box img{width: 100px;
                       height: 100px;
                       border-radius: 50%;
                       margin: auto;}
.the-articles h5{color: #91bf3c;line-height: 40px}
.the-articles span{font-weight: bold}
/* videos */
.videos>div{margin-bottom: 30px}
/* faq */
.ask{font-size: 16px;color: #91bf3c;font-weight: bold}
.faq{margin-bottom: 20px}
.answer {line-height: 24px;font-family: 'Cairo', sans-serif;font-size: 14px;}
.faq span{    top: 7px;
              font-size: 22px;margin-left: 8px}
/* chart */
.the-chart{padding-top: 30px}
.my-chart .vote{margin-top: 20px}
/* Table */
table {border: none;background-color: #f3f3f3;}
table tr{border: 2px solid #dfdfdf;}
table td{font-family: 'Cairo', sans-serif;}
table .positive{color: #458D37;}
table .negative{color: #DC0A0A;}
table .table-more{text-align: center;}
table .table-more a{color: #91bf3c;}
table .table-more a:hover{color: #91bf3c;text-decoration: none;}

.poll-block {
    width: 96%;padding: 5px;border:none}
.poll-block ul li input {
    margin-left: 7px;}
.poll-block h3{font-weight: bold;line-height: 24px;}
.poll-block label{font-weight: normal}
.inner-bar, .voted{right: 0;background: #91bf3c;}
.percentage{left: 0;right: auto}
.btn-custom{background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d4d4d), to(#4d4d4d));
            background-image: -webkit-linear-gradient(top, #4d4d4d, #4d4d4d);
            background-image: -moz-linear-gradient(top, #4d4d4d, #4d4d4d);
            background-image: -ms-linear-gradient(top, #4d4d4d, #4d4d4d);
            background-image: -o-linear-gradient(top, #4d4d4d, #4d4d4d);
            line-height: 26px;
            height: 34px;
            padding: 3px 15px;
            border: 1px solid #4d4d4d;font-weight: normal;font-weight: bold;margin-left: 10px;margin-right: 10px;
            color: #91bf3c}
.btn-custom:hover,.btn-custom:focus{background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#91bf3c), to(#91bf3c));
                                    background-image: -webkit-linear-gradient(top, #91bf3c, #91bf3c);
                                    background-image: -moz-linear-gradient(top, #91bf3c, #91bf3c);
                                    background-image: -ms-linear-gradient(top, #91bf3c, #91bf3c);
                                    background-image: -o-linear-gradient(top, #91bf3c, #91bf3c);
                                    border: 1px solid #91bf3c;
                                    color: #4d4d4d}
.out-bar {
    background: #dfdfdf;}
.poll-block ul li label{width: 89%}


/* vote */
.popover.right > .arrow{margin-top: -11px}
.popover-content {
    padding: 5px 9px;
    font-size: 13px;
    text-align: center;
    width: 126px;
    color: #91bf3c;
}

.one-video iframe {
    height: 100%;}
div#my-video {
    height: 207px;
}
.videooo .one-video{height: 150px}
.my-right:hover{background-color: #eaeaea}

.more-news a, .one-new .my-padding button[type="submit"] {
    margin-top: 16px;
    font-weight: bold;
}
.block h5{padding-top: 7px;margin-bottom: 7px;font-size: 16px;}
.block h5 a{color: #91bf3c;}
.send-sugg{font-weight: bold}
.share-article{
    text-align: center;
}
.share-article img{
    width: 40px;
}
.new-adv{     width: 100%;
              text-align: center;}
.new-adv img{    width: 80%;
                 margin: 25px auto;border: 1px solid #777}
.the-video{
    margin-bottom: 0px;
    margin-top: 25px;
}

.comments{margin-top:  33px !important}
.my-img {
    width: 93%;}
.facebook-page{width: 80%}

/* new edit */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #6a6a6a;
    background-color: #dfdfdf;
}
.dropdown-menu{    background-color: #dfdfdf;}
li.item {
    height: 100%;
}

.carousel-caption:hover{
    color: #91bf3c;
}
#myCarousel:hover h3 a{
    color: #91bf3c !important;
}
.carousel-caption:hover a{
    color: #fff;
}
footer{background-color: #4d4d4d;
       overflow: hidden;
       width: 100%;
       color: #fff;    margin-top: 50px;padding-top: 20px;padding-bottom: 10px;font-size: 13px;font-weight: bold;}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{color: #4d4d4d;; background-color:#dfdfdf;    border-radius: 5px;    text-align: center;    font-weight: bold;padding: 10px 0;margin: 0 -5px;}

/* New Style */
.head-visitor p{text-align: center; color: #7f7f7f;font-weight: bold;font-family: 'Cairo', sans-serif;font-size: 16px;}

.row-edit{margin-top: 5px}

.writer-name{font-size: 16px !important;font-weight: bold;}
/****** Company *****/
.chart-p{
    font-weight: bold;
    color: #4d4d4d;
    font-size: 14px;
}
.main-chart strong{
    color: #4d4d4d;
    font-family: 'Cairo', sans-serif;
}
.text-green{
    color: #81C301;
}
.text-red{
    color: #F01C24;
}
.chart-span{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}
.company-stocks{
    padding-bottom: 10px;
}
.text-dimmed{
    color: #878787;
}
.num-dimmed{
    font-family: 'Cairo', sans-serif;
}
.mysection-chart .nav-tabs>li {
    padding-bottom: 15px;
}
.model-btn{
    color: #fff;
    background-color: #91bf3c;
    border-color: transparent;
}
.model-btn:hover, .model-btn:active, .model-btn:focus {
    color: #fff !important;
    background-color: #91bf3c !important;
    border-color: transparent !important;
}
.chart6-table-head{
    color: #fff;
    background: #4d4d4d;
}
.modal-header-chart{
    font-family: 'Cairo', sans-serif;
    color: #fff;
    background: #91bf3c;
}
.modal-body-chart p, ul li{
    color: #4d4d4d;
    font-family: 'Cairo', sans-serif;
}
.com-info-body> tr > td, .arrow-info-body> tr > td{
    padding: 10px 0 !important;
    vertical-align: middle !important;
    text-align: center;
}
.com-info-head > tr > th, .arrow-info-head > tr > th{
    padding: 15px !important;
    color: #fff;
    background: #4d4d4d;
}

.vid-name{
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    height: 45px;
    overflow: hidden;
    

}
.banner-3{
    padding-bottom: 10px;
}
.sub-dropdown-menu > li > a, .sub-dropdown-menu > li > a {
    font-weight: bold;
}
.sub-dropdown-menu > li > a:hover, .sub-dropdown-menu > li > a:focus {
    background-color: #9bce3e;
    color: #6a6a6a;
    font-weight: bold;
    text-decoration: none;
}
.flex-caption {
    text-align: center;
    width: 100%;
    padding: 3%;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #4d4d4d;;
    font-size: 16px !important;
    line-height: 18px;
}
.writer-name{
    color: #7f7f7f;
    font-size: 14px;
}
.writer-name a{
    color: #7f7f7f;
    font-family: "Cairo",sans-serif;
    font-size: 14px;
}
.margin-top-30{
    margin-top: 30px;
}
.video3{
    margin-bottom: 20px;
}
/********* New 10/11/2016***********/
.video-modal-header{
    font-size: 15px;
    color: #fff;
    background-color: #91bf3c;
}
.video-modal-footer{
    background-color: #4d4d4d;
    color: #fff;
    font-size: 15px;
    text-align: right;
}
.item-slider-img {
    line-height: 1;
    overflow: hidden;
    height: 90px !important;
    width: 728px !important;
}
@media screen and (max-width:1200px){
    .social img {
        width: 32px;
    }
    .lang a {
        margin-left: 2px;
        margin-right: 2px;
    }
    .article img {
        width: 62px;
        height: 62px;
        margin-top: 16px;}
    #container1,#container2,#container3,#container4{min-width: 285px !important}
    .nav > li > a {
        padding: 10px 1px;
        font-size: 10px !important;
    }
    .poll-block ul li label{width: 85% !important}
    span.respond{float: right}
    .flex-control-thumbs li {
        width: 13%;
    }

}
@media screen and (max-width:992px){
    .lang{width: 89%}
    .my-nav .navbar-inverse .navbar-nav > li > a {
        padding: 8px 17px;
        font-size: 11px;}
    .read{padding: 10px 10px;}
    .read img {
        width: 27px;
        margin-left: 1px;
    }
    .read h5{font-size: 12px}
    .my-padding {
        margin-top: 15px;
    }
    #the-banner3 {
        width: 166px;height: 150px}
    .nav-tabs>li>a {
        font-size: 10px;font-size: 10px}
    .nav > li > a {
        font-size: 11px !important;
    }
    .article img {
        width: 49px;
        height: 49px;
        margin-top: 29px;
    }
    .vote input[type="button"]{    padding: 5px 14px;
                                   margin-left: 6px;
                                   margin-right: 6px;}
    #container1,#container2,#container3,#container4{min-width: 213px !important}
    .slider-div .col-sm-1{padding-left: 3px;padding-right: 3px}
    .btn-custom{margin-left: 6px;margin-right: 6px}

    #my-video span.glyphicon.glyphicon-chevron-right, #my-video span.glyphicon.glyphicon-chevron-left {
        width: 30px;
        height: 30px;
        line-height: 29px;}
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{font-size: 22px}
    .flex-control-thumbs li {
        width: 12.6%;
    }
    .flexslider .slides img {
        height: 315px;
    }

}
@media screen and (max-width:767px){
    .search {
        text-align: center;
        margin-top: 15px;
    }
    .search input,.lang{width: 45%}
    .social ul {
        width: 211px;
        margin: auto;}

    .stockkk,.top-two .latest_newsarea span{font-weight: normal}
    .top-two .latest_newsarea span {padding: 5px 35px;}
    .sms{margin: auto}
    .banner1{margin-top: 15px;margin-bottom: 15px;}
    .banner1 img{height: 81px}
    .group{padding-left: 7px;padding-right: 7px;font-weight: normal;font-size: 11px;}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: #4d4d4d;}
    .navbar-toggle {background-color: #91bf3c;}

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #4d4d4d;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .my-slider {
        display: none;
    }
    .container-fluid{text-align: center}
    .banner2 img {
        height: 250px;
    }
    .adv1, .adv2 {
        display: inline-block;
        width: 18%;}

    .article .box{width: 14%}
    .article img{margin-top: 13px}
    footer ul li {
        margin-left: 7px;
        margin-right: 7px;
    }
    .latest_newsarea span {
        font-size: 11px;
    }
    .stockkk:before{top: -4px;left: -33px;}
    .latest_newsarea span{padding: 5px 3px}
    .top-two .latest_newsarea span {
        padding: 5px 20px;

    }
    .navbar-toggle{padding: 10px}
    .nav > li > a {
        font-size: 11px !important;
    }
    .my-nav .navbar-nav>li{padding-bottom: 2px;padding-top: 2px}
    .poll-block ul li label{text-align: right}
    footer ul{margin-bottom: 10px}
    #the-video iframe{height: 300px}
    .contact {
        padding-top: 43px;
        padding-bottom: 29px;}
    .more-news {
        padding-top: 17px;
        padding-bottom: 23px;
    }
    .new-img{height: 250px}
    .more-news a, .one-new .my-padding button[type="submit"] {
        margin-bottom: 20px;
        margin-top: 15px;

    }
}
@media screen and (max-width:480px){
    .the-logo img {
        width: 222px;
    }
    .my-right {
        width: 100%;}
    #my-video .col-xs-4{padding-left: 4px;padding-right: 4px}
    .article .box{width: 25%}
    .article img {
        margin-top: 20px;
    }
    .group {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 9px;
    }
    .stockkk:before {
        top: -6px;}

    ul.newsticker a{font-size: 10px}
    .latest_newsarea span {
        font-size: 9px;}
    .top-two .latest_newsarea span {
        padding: 5px 16px;
    }
    .search input,.lang{width: 65%}
    .navbar-toggle{padding: 8px}
    #the-video iframe{height: auto !important}
    .new-img {
        height: 220px;}

    .read-more a,h2{font-size: 11px}
    div#container5 {
        min-width: 200px !important;
    }
    .new-img{height: 200px}
    .flex-control-thumbs li {
        width: 11%;
    }
    .flexslider .slides img{height: 200px}
    .homepage .col-xs-4 {
        width: 50%;
    }
    .videos .col-sm-3{width: 50%}

}
@media screen and (max-width:320px){
    .read-more a,h2{font-size: 10px}   
}
