<?php

use Cake\Core\Configure;
use Cake\Error\Debugger;

$this->layout = 'error';

if (Configure::read('debug')):
    $this->layout = 'dev_error';

    $this->assign('title', $message);
    $this->assign('templateName', 'error400.ctp');

    $this->start('file');
    ?>
    <?php if (!empty($error->queryString)) : ?>
        <p class="notice">
            <strong>SQL Query: </strong>
            <?= h($error->queryString) ?>
        </p>
    <?php endif; ?>
    <?php if (!empty($error->params)) : ?>
        <strong>SQL Query Params: </strong>
        <?php Debugger::dump($error->params) ?>
    <?php endif; ?>
    <?= $this->element('auto_table_warning') ?>
    <?php
    if (extension_loaded('xdebug')):
        xdebug_print_function_stack();
    endif;

    $this->end();
endif;
?>
<!--<h2><?= h($message) ?></h2>-->
<!--<p class="error">
<strong><?php // echo __d('cake', 'Error')        ?>: </strong>
<?php
//    echo sprintf(
//            __d('cake', 'The requested address %s was not found on this server.'), "<strong>'{$url}'</strong>"
//    )
?>
</p>-->
<?php $this->layout = ''; ?>    
<div style="margin:0 auto; text-align: center">
    <img src="<?php echo $this->Url->build('/css/img/underconstruction.gif') ?>"  height="100%" />
</div>
